  body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: lightgray;
}


#app {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  font-weight: normal;
}

